<div class="container">
  <h3 id="header">GREEN EVENT SURVEY</h3>
  <p id="notice">This survey is meant to measure event attendees' behavior to attend green events, thus enabling event organizers or event
    managers to understand attendees' behavior pattern and necessary actions can be executed in increasing the intention
    of event attendees' to come to green event.</p>
</div>
