<section style="background:#fcfcfc;">
  <div class="container">
    <div class="board">
      <div class="board-inner">
        <mz-input-container style="position: relative; top: 15px;">
          <input mz-input [formControl]="organization" [label]="'Organizations'" id="org-input" type="text">
        </mz-input-container>
        <div *ngIf="organization.invalid && (organization.touched || surveySSubmit)" class="alert alert-danger">
          <span id="invalidError">Please enter your organization</span>
        </div>
        <mz-collapsible #collapsibleController [mode]="'expandable'">
          <mz-collapsible-item [active]="true">
            <mz-collapsible-item-header>
              Behavioral Beliefs
            </mz-collapsible-item-header>
            <mz-collapsible-item-body>
              <form [formGroup]="behaviorForm" (ngSubmit)="behavioralSubmit()">
                <div class="surveyQuestion">
                  <div class="questionContainer">
                    <span id="question">
                      Attending this green event would enable me to protect our environment
                    </span>
                    <span id="subQuestion">
                      Menghadiri acara hijau ini akan membolehkan saya untuk melindungi alam sekitar kita
                    </span>
                  </div>
                  <div class="answerContainer">
                    <div *ngIf="behaviorField('bb1').invalid && (behaviorField('bb1').touched || behaviorSSubmit)" class="alert alert-danger">
                      <span id="invalidError">{{getErrorMsg()}}</span>
                    </div>
                    <mz-radio-button-container>
                      <input formControlName="bb1" value=5 mz-radio-button [label]="'Strongly Agree'" [withGap]="true" id="bb1-radio-1" name="bb1"
                        type="radio">
                    </mz-radio-button-container>
                    <mz-radio-button-container>
                      <input formControlName="bb1" value=4 mz-radio-button [label]="'Agree'" [withGap]="true" id="bb1-radio-2" name="bb1" type="radio">
                    </mz-radio-button-container>
                    <mz-radio-button-container>
                      <input formControlName="bb1" value=3 mz-radio-button [label]="'Neutral'" [withGap]="true" id="bb1-radio-3" name="bb1" type="radio">
                    </mz-radio-button-container>
                    <mz-radio-button-container>
                      <input formControlName="bb1" value=2 mz-radio-button [label]="'Disagree'" [withGap]="true" id="bb1-radio-4" name="bb1" type="radio">
                    </mz-radio-button-container>
                    <mz-radio-button-container>
                      <input formControlName="bb1" value=1 mz-radio-button [label]="'Strongly Disagree'" [withGap]="true" id="bb1-radio-5" name="bb1"
                        type="radio">
                    </mz-radio-button-container>
                  </div>
                </div>
                <div class="surveyQuestion">
                  <div class="questionContainer">
                    <span id="question">
                      Attending this green event would enable me to be more socially responsible
                    </span>
                    <span id="subQuestion">
                      Menghadiri acara hijau ini akan membolehkan saya untuk menjadi lebih bertanggungjawab dari segi sosial.
                    </span>
                  </div>
                  <div class="answerContainer">
                    <div *ngIf="behaviorField('bb2').invalid && (behaviorField('bb2').touched || behaviorSSubmit)" class="alert alert-danger">
                      <span id="invalidError">{{getErrorMsg()}}</span>
                    </div>
                    <mz-radio-button-container>
                      <input formControlName="bb2" value=5 mz-radio-button [label]="'Strongly Agree'" [withGap]="true" id="bb2-radio-1" name="bb2"
                        type="radio">
                    </mz-radio-button-container>
                    <mz-radio-button-container>
                      <input formControlName="bb2" value=4 mz-radio-button [label]="'Agree'" [withGap]="true" id="bb2-radio-2" name="bb2" type="radio">
                    </mz-radio-button-container>
                    <mz-radio-button-container>
                      <input formControlName="bb2" value=3 mz-radio-button [label]="'Neutral'" [withGap]="true" id="bb2-radio-3" name="bb2" type="radio">
                    </mz-radio-button-container>
                    <mz-radio-button-container>
                      <input formControlName="bb2" value=2 mz-radio-button [label]="'Disagree'" [withGap]="true" id="bb2-radio-4" name="bb2" type="radio">
                    </mz-radio-button-container>
                    <mz-radio-button-container>
                      <input formControlName="bb2" value=1 mz-radio-button [label]="'Strongly Disagree'" [withGap]="true" id="bb2-radio-5" name="bb2"
                        type="radio">
                    </mz-radio-button-container>
                  </div>
                </div>
                <div class="surveyQuestion">
                  <div class="questionContainer">
                    <span id="question">
                      Attending this green event would enable me to experience a healthy environmental
                    </span>
                    <span id="subQuestion">
                      Menghadiri acara hijau ini akan membolehkan saya untuk mengalami persekitaran yang sihat
                    </span>
                  </div>
                  <div class="answerContainer">
                    <div *ngIf="behaviorField('bb3').invalid && (behaviorField('bb3').touched || behaviorSSubmit)" class="alert alert-danger">
                      <span id="invalidError">{{getErrorMsg()}}</span>
                    </div>
                    <mz-radio-button-container>
                      <input formControlName="bb3" value=5 mz-radio-button [label]="'Strongly Agree'" [withGap]="true" id="bb3-radio-1" name="bb3"
                        type="radio">
                    </mz-radio-button-container>
                    <mz-radio-button-container>
                      <input formControlName="bb3" value=4 mz-radio-button [label]="'Agree'" [withGap]="true" id="bb3-radio-2" name="bb3" type="radio">
                    </mz-radio-button-container>
                    <mz-radio-button-container>
                      <input formControlName="bb3" value=3 mz-radio-button [label]="'Neutral'" [withGap]="true" id="bb3-radio-3" name="bb3" type="radio">
                    </mz-radio-button-container>
                    <mz-radio-button-container>
                      <input formControlName="bb3" value=2 mz-radio-button [label]="'Disagree'" [withGap]="true" id="bb3-radio-4" name="bb3" type="radio">
                    </mz-radio-button-container>
                    <mz-radio-button-container>
                      <input formControlName="bb3" value=1 mz-radio-button [label]="'Strongly Disagree'" [withGap]="true" id="bb3-radio-5" name="bb3"
                        type="radio">
                    </mz-radio-button-container>
                  </div>
                </div>
                <div class="surveyQuestion">
                  <div class="questionContainer">
                    <span id="question">
                      Attending this green event would enable me to perform environmental friendly practices
                    </span>
                    <span id="subQuestion">
                      Menghadiri acara hijau ini akan membolehkan saya untuk melaksanakan amalan mesra alam sekitar
                    </span>
                  </div>
                  <div class="answerContainer">
                    <div *ngIf="behaviorField('bb4').invalid && (behaviorField('bb4').touched || behaviorSSubmit)" class="alert alert-danger">
                      <span id="invalidError">{{getErrorMsg()}}</span>
                    </div>
                    <mz-radio-button-container>
                      <input formControlName="bb4" value=5 mz-radio-button [label]="'Strongly Agree'" [withGap]="true" id="bb4-radio-1" name="bb4"
                        type="radio">
                    </mz-radio-button-container>
                    <mz-radio-button-container>
                      <input formControlName="bb4" value=4 mz-radio-button [label]="'Agree'" [withGap]="true" id="bb4-radio-2" name="bb4" type="radio">
                    </mz-radio-button-container>
                    <mz-radio-button-container>
                      <input formControlName="bb4" value=3 mz-radio-button [label]="'Neutral'" [withGap]="true" id="bb4-radio-3" name="bb4" type="radio">
                    </mz-radio-button-container>
                    <mz-radio-button-container>
                      <input formControlName="bb4" value=2 mz-radio-button [label]="'Disagree'" [withGap]="true" id="bb4-radio-4" name="bb4" type="radio">
                    </mz-radio-button-container>
                    <mz-radio-button-container>
                      <input formControlName="bb4" value=1 mz-radio-button [label]="'Strongly Disagree'" [withGap]="true" id="bb4-radio-5" name="bb4"
                        type="radio">
                    </mz-radio-button-container>
                  </div>
                </div>
                <div class="surveyQuestion">
                  <div class="questionContainer">
                    <span id="question">
                      Attending this green event would enable me to enjoy environmental friendly products and healthy amenities
                    </span>
                    <span id="subQuestion">
                      Menghadiri acara hijau ini akan membolehkan saya untuk menikmati produk mesra alam sekitar dan kemudahan yang sihat
                    </span>
                  </div>
                  <div class="answerContainer">
                    <div *ngIf="behaviorField('bb5').invalid && (behaviorField('bb5').touched || behaviorSSubmit)" class="alert alert-danger">
                      <span id="invalidError">{{getErrorMsg()}}</span>
                    </div>
                    <mz-radio-button-container>
                      <input formControlName="bb5" value=5 mz-radio-button [label]="'Strongly Agree'" [withGap]="true" id="bb5-radio-1" name="bb5"
                        type="radio">
                    </mz-radio-button-container>
                    <mz-radio-button-container>
                      <input formControlName="bb5" value=4 mz-radio-button [label]="'Agree'" [withGap]="true" id="bb5-radio-2" name="bb5" type="radio">
                    </mz-radio-button-container>
                    <mz-radio-button-container>
                      <input formControlName="bb5" value=3 mz-radio-button [label]="'Neutral'" [withGap]="true" id="bb5-radio-3" name="bb5" type="radio">
                    </mz-radio-button-container>
                    <mz-radio-button-container>
                      <input formControlName="bb5" value=2 mz-radio-button [label]="'Disagree'" [withGap]="true" id="bb5-radio-4" name="bb5" type="radio">
                    </mz-radio-button-container>
                    <mz-radio-button-container>
                      <input formControlName="bb5" value=1 mz-radio-button [label]="'Strongly Disagree'" [withGap]="true" id="bb5-radio-5" name="bb5"
                        type="radio">
                    </mz-radio-button-container>
                  </div>
                </div>
                <div class="surveyQuestion">
                  <div class="questionContainer">
                    <span id="question">
                      Attending this green event would enable me to eat healthy food
                    </span>
                    <span id="subQuestion">
                      Menghadiri acara hijau ini akan membolehkan saya untuk makan makanan yang sihat
                    </span>
                  </div>
                  <div class="answerContainer">
                    <div *ngIf="behaviorField('bb6').invalid && (behaviorField('bb6').touched || behaviorSSubmit)" class="alert alert-danger">
                      <span id="invalidError">{{getErrorMsg()}}</span>
                    </div>
                    <mz-radio-button-container>
                      <input formControlName="bb6" value=5 mz-radio-button [label]="'Strongly Agree'" [withGap]="true" id="bb6-radio-1" name="bb6"
                        type="radio">
                    </mz-radio-button-container>
                    <mz-radio-button-container>
                      <input formControlName="bb6" value=4 mz-radio-button [label]="'Agree'" [withGap]="true" id="bb6-radio-2" name="bb6" type="radio">
                    </mz-radio-button-container>
                    <mz-radio-button-container>
                      <input formControlName="bb6" value=3 mz-radio-button [label]="'Neutral'" [withGap]="true" id="bb6-radio-3" name="bb6" type="radio">
                    </mz-radio-button-container>
                    <mz-radio-button-container>
                      <input formControlName="bb6" value=2 mz-radio-button [label]="'Disagree'" [withGap]="true" id="bb6-radio-4" name="bb6" type="radio">
                    </mz-radio-button-container>
                    <mz-radio-button-container>
                      <input formControlName="bb6" value=1 mz-radio-button [label]="'Strongly Disagree'" [withGap]="true" id="bb6-radio-5" name="bb6"
                        type="radio">
                    </mz-radio-button-container>
                  </div>
                </div>
                <div class="surveyQuestion">
                  <div class="questionContainer">
                    <span id="question">
                      Attending this green event would enable me to have reduced expenses
                    </span>
                    <span id="subQuestion">
                      Menghadiri acara hijau ini akan membolehkan saya untuk mengurangkan perbelanjaan
                    </span>
                  </div>
                  <div class="answerContainer">
                    <div *ngIf="behaviorField('bb7').invalid && (behaviorField('bb7').touched || behaviorSSubmit)" class="alert alert-danger">
                      <span id="invalidError">{{getErrorMsg()}}</span>
                    </div>
                    <mz-radio-button-container>
                      <input formControlName="bb7" value=5 mz-radio-button [label]="'Strongly Agree'" [withGap]="true" id="bb7-radio-1" name="bb7"
                        type="radio">
                    </mz-radio-button-container>
                    <mz-radio-button-container>
                      <input formControlName="bb7" value=4 mz-radio-button [label]="'Agree'" [withGap]="true" id="bb7-radio-2" name="bb7" type="radio">
                    </mz-radio-button-container>
                    <mz-radio-button-container>
                      <input formControlName="bb7" value=3 mz-radio-button [label]="'Neutral'" [withGap]="true" id="bb7-radio-3" name="bb7" type="radio">
                    </mz-radio-button-container>
                    <mz-radio-button-container>
                      <input formControlName="bb7" value=2 mz-radio-button [label]="'Disagree'" [withGap]="true" id="bb7-radio-4" name="bb7" type="radio">
                    </mz-radio-button-container>
                    <mz-radio-button-container>
                      <input formControlName="bb7" value=1 mz-radio-button [label]="'Strongly Disagree'" [withGap]="true" id="bb7-radio-5" name="bb7"
                        type="radio">
                    </mz-radio-button-container>
                  </div>
                </div>
                <button type="submit" mz-button id="questionButton">
                  Next
                </button>
              </form>
            </mz-collapsible-item-body>
          </mz-collapsible-item>
          <mz-collapsible-item>
            <mz-collapsible-item-header>
              Normative Beliefs
            </mz-collapsible-item-header>
            <mz-collapsible-item-body>
              <form [formGroup]="normativeForm" (ngSubmit)="normativeSubmit()">
                <div class="surveyQuestion">
                  <div class="questionContainer">
                    <span id="question">
                      My family thinks I should attend this green event
                    </span>
                    <span id="subQuestion">
                      Keluarga / Saudara-mara saya berpendapat saya perlu menghadiri acara hijau ini
                    </span>
                  </div>
                  <div class="answerContainer">
                    <div *ngIf="normativeField('nb1').invalid && (normativeField('nb1').touched || normativeSSubmit)" class="alert alert-danger">
                      <span id="invalidError">{{getErrorMsg()}}</span>
                    </div>
                    <mz-radio-button-container>
                      <input formControlName="nb1" value=5 mz-radio-button [label]="'Strongly Agree'" [withGap]="true" id="nb1-radio-1" name="nb1"
                        type="radio">
                    </mz-radio-button-container>
                    <mz-radio-button-container>
                      <input formControlName="nb1" value=4 mz-radio-button [label]="'Agree'" [withGap]="true" id="nb1-radio-2" name="nb1" type="radio">
                    </mz-radio-button-container>
                    <mz-radio-button-container>
                      <input formControlName="nb1" value=3 mz-radio-button [label]="'Neutral'" [withGap]="true" id="nb1-radio-3" name="nb1" type="radio">
                    </mz-radio-button-container>
                    <mz-radio-button-container>
                      <input formControlName="nb1" value=2 mz-radio-button [label]="'Disagree'" [withGap]="true" id="nb1-radio-4" name="nb1" type="radio">
                    </mz-radio-button-container>
                    <mz-radio-button-container>
                      <input formControlName="nb1" value=1 mz-radio-button [label]="'Strongly Disagree'" [withGap]="true" id="nb1-radio-5" name="nb1"
                        type="radio">
                    </mz-radio-button-container>
                  </div>
                </div>
                <div class="surveyQuestion">
                  <div class="questionContainer">
                    <span id="question">
                      My friends think I should attend this green event
                    </span>
                    <span id="subQuestion">
                      Rakan-rakan saya berpendapat saya perlu menghadiri acara hijau ini
                    </span>
                  </div>
                  <div class="answerContainer">
                    <div *ngIf="normativeField('nb2').invalid && (normativeField('nb2').touched || normativeSSubmit)" class="alert alert-danger">
                      <span id="invalidError">{{getErrorMsg()}}</span>
                    </div>
                    <mz-radio-button-container>
                      <input formControlName="nb2" value=5 mz-radio-button [label]="'Strongly Agree'" [withGap]="true" id="nb2-radio-1" name="nb2"
                        type="radio">
                    </mz-radio-button-container>
                    <mz-radio-button-container>
                      <input formControlName="nb2" value=4 mz-radio-button [label]="'Agree'" [withGap]="true" id="nb2-radio-2" name="nb2" type="radio">
                    </mz-radio-button-container>
                    <mz-radio-button-container>
                      <input formControlName="nb2" value=3 mz-radio-button [label]="'Neutral'" [withGap]="true" id="nb2-radio-3" name="nb2" type="radio">
                    </mz-radio-button-container>
                    <mz-radio-button-container>
                      <input formControlName="nb2" value=2 mz-radio-button [label]="'Disagree'" [withGap]="true" id="nb2-radio-4" name="nb2" type="radio">
                    </mz-radio-button-container>
                    <mz-radio-button-container>
                      <input formControlName="nb2" value=1 mz-radio-button [label]="'Strongly Disagree'" [withGap]="true" id="nb2-radio-5" name="nb2"
                        type="radio">
                    </mz-radio-button-container>
                  </div>
                </div>
                <div class="surveyQuestion">
                  <div class="questionContainer">
                    <span id="question">
                      My colleagues think I should attend this green event
                    </span>
                    <span id="subQuestion">
                      Rakan sekerja saya berpendapat saya perlu menghadiri acara hijau ini
                    </span>
                  </div>
                  <div class="answerContainer">
                    <div *ngIf="normativeField('nb3').invalid && (normativeField('nb3').touched || normativeSSubmit)" class="alert alert-danger">
                      <span id="invalidError">{{getErrorMsg()}}</span>
                    </div>
                    <mz-radio-button-container>
                      <input formControlName="nb3" value=5 mz-radio-button [label]="'Strongly Agree'" [withGap]="true" id="nb3-radio-1" name="nb3"
                        type="radio">
                    </mz-radio-button-container>
                    <mz-radio-button-container>
                      <input formControlName="nb3" value=4 mz-radio-button [label]="'Agree'" [withGap]="true" id="nb3-radio-2" name="nb3" type="radio">
                    </mz-radio-button-container>
                    <mz-radio-button-container>
                      <input formControlName="nb3" value=3 mz-radio-button [label]="'Neutral'" [withGap]="true" id="nb3-radio-3" name="nb3" type="radio">
                    </mz-radio-button-container>
                    <mz-radio-button-container>
                      <input formControlName="nb3" value=2 mz-radio-button [label]="'Disagree'" [withGap]="true" id="nb3-radio-4" name="nb3" type="radio">
                    </mz-radio-button-container>
                    <mz-radio-button-container>
                      <input formControlName="nb3" value=1 mz-radio-button [label]="'Strongly Disagree'" [withGap]="true" id="nb3-radio-5" name="nb3"
                        type="radio">
                    </mz-radio-button-container>
                  </div>
                </div>
                <button type="submit" mz-button id="questionButton">
                  Next
                </button>
              </form>
            </mz-collapsible-item-body>
          </mz-collapsible-item>
          <mz-collapsible-item>
            <mz-collapsible-item-header>
              Control Beliefs
            </mz-collapsible-item-header>
            <mz-collapsible-item-body>
              <form [formGroup]="controlForm" (ngSubmit)="controlSubmit()">
                <div class="surveyQuestion">
                  <div class="questionContainer">
                    <span id="question">
                      Attending this green event is expensive
                    </span>
                    <span id="subQuestion">
                      Menghadiri acara hijau ini adalah mahal
                    </span>
                  </div>
                  <div class="answerContainer">
                    <div *ngIf="controlField('cb1').invalid && (controlField('cb1').touched || controlSSubmit)" class="alert alert-danger">
                      <span id="invalidError">{{getErrorMsg()}}</span>
                    </div>
                    <mz-radio-button-container>
                      <input formControlName="cb1" value=5 mz-radio-button [label]="'Strongly Agree'" [withGap]="true" id="cb1-radio-1" name="cb1"
                        type="radio">
                    </mz-radio-button-container>
                    <mz-radio-button-container>
                      <input formControlName="cb1" value=4 mz-radio-button [label]="'Agree'" [withGap]="true" id="cb1-radio-2" name="cb1" type="radio">
                    </mz-radio-button-container>
                    <mz-radio-button-container>
                      <input formControlName="cb1" value=3 mz-radio-button [label]="'Neutral'" [withGap]="true" id="cb1-radio-3" name="cb1" type="radio">
                    </mz-radio-button-container>
                    <mz-radio-button-container>
                      <input formControlName="cb1" value=2 mz-radio-button [label]="'Disagree'" [withGap]="true" id="cb1-radio-4" name="cb1" type="radio">
                    </mz-radio-button-container>
                    <mz-radio-button-container>
                      <input formControlName="cb1" value=1 mz-radio-button [label]="'Strongly Disagree'" [withGap]="true" id="cb1-radio-5" name="cb1"
                        type="radio">
                    </mz-radio-button-container>
                  </div>
                </div>
                <div class="surveyQuestion">
                  <div class="questionContainer">
                    <span id="question">
                      Finding this green event takes time and efforts
                    </span>
                    <span id="subQuestion">
                      Mencari acara hijau ini memerlukan masa dan usaha
                    </span>
                  </div>
                  <div class="answerContainer">
                    <div *ngIf="controlField('cb2').invalid && (controlField('cb2').touched || controlSSubmit)" class="alert alert-danger">
                      <span id="invalidError">{{getErrorMsg()}}</span>
                    </div>
                    <mz-radio-button-container>
                      <input formControlName="cb2" value=5 mz-radio-button [label]="'Strongly Agree'" [withGap]="true" id="cb2-radio-1" name="cb2"
                        type="radio">
                    </mz-radio-button-container>
                    <mz-radio-button-container>
                      <input formControlName="cb2" value=4 mz-radio-button [label]="'Agree'" [withGap]="true" id="cb2-radio-2" name="cb2" type="radio">
                    </mz-radio-button-container>
                    <mz-radio-button-container>
                      <input formControlName="cb2" value=3 mz-radio-button [label]="'Neutral'" [withGap]="true" id="cb2-radio-3" name="cb2" type="radio">
                    </mz-radio-button-container>
                    <mz-radio-button-container>
                      <input formControlName="cb2" value=2 mz-radio-button [label]="'Disagree'" [withGap]="true" id="cb2-radio-4" name="cb2" type="radio">
                    </mz-radio-button-container>
                    <mz-radio-button-container>
                      <input formControlName="cb2" value=1 mz-radio-button [label]="'Strongly Disagree'" [withGap]="true" id="cb2-radio-5" name="cb2"
                        type="radio">
                    </mz-radio-button-container>
                  </div>
                </div>
                <div class="surveyQuestion">
                  <div class="questionContainer">
                    <span id="question">
                      Location of this green event needs to be convenient
                    </span>
                    <span id="subQuestion">
                      Lokasi acara hijau ini perlulah bersesuaian
                    </span>
                  </div>
                  <div class="answerContainer">
                    <div *ngIf="controlField('cb3').invalid && (controlField('cb3').touched || controlSSubmit)" class="alert alert-danger">
                      <span id="invalidError">{{getErrorMsg()}}</span>
                    </div>
                    <mz-radio-button-container>
                      <input formControlName="cb3" value=5 mz-radio-button [label]="'Strongly Agree'" [withGap]="true" id="cb3-radio-1" name="cb3"
                        type="radio">
                    </mz-radio-button-container>
                    <mz-radio-button-container>
                      <input formControlName="cb3" value=4 mz-radio-button [label]="'Agree'" [withGap]="true" id="cb3-radio-2" name="cb3" type="radio">
                    </mz-radio-button-container>
                    <mz-radio-button-container>
                      <input formControlName="cb3" value=3 mz-radio-button [label]="'Neutral'" [withGap]="true" id="cb3-radio-3" name="cb3" type="radio">
                    </mz-radio-button-container>
                    <mz-radio-button-container>
                      <input formControlName="cb3" value=2 mz-radio-button [label]="'Disagree'" [withGap]="true" id="cb3-radio-4" name="cb3" type="radio">
                    </mz-radio-button-container>
                    <mz-radio-button-container>
                      <input formControlName="cb3" value=1 mz-radio-button [label]="'Strongly Disagree'" [withGap]="true" id="cb3-radio-5" name="cb3"
                        type="radio">
                    </mz-radio-button-container>
                  </div>
                </div>
                <div class="surveyQuestion">
                  <div class="questionContainer">
                    <span id="question">
                      My company/school/others that pay for my expenses encourage me to attend a certain green event
                    </span>
                    <span id="subQuestion">
                      Syarikat / sekolah / orang lain yang membayar untuk perbelanjaan saya menggalakan saya untuk menghadiri acara hijau tertentu
                    </span>
                  </div>
                  <div class="answerContainer">
                    <div *ngIf="controlField('cb4').invalid && (controlField('cb4').touched || controlSSubmit)" class="alert alert-danger">
                      <span id="invalidError">{{getErrorMsg()}}</span>
                    </div>
                    <mz-radio-button-container>
                      <input formControlName="cb4" value=5 mz-radio-button [label]="'Strongly Agree'" [withGap]="true" id="cb4-radio-1" name="cb4"
                        type="radio">
                    </mz-radio-button-container>
                    <mz-radio-button-container>
                      <input formControlName="cb4" value=4 mz-radio-button [label]="'Agree'" [withGap]="true" id="cb4-radio-2" name="cb4" type="radio">
                    </mz-radio-button-container>
                    <mz-radio-button-container>
                      <input formControlName="cb4" value=3 mz-radio-button [label]="'Neutral'" [withGap]="true" id="cb4-radio-3" name="cb4" type="radio">
                    </mz-radio-button-container>
                    <mz-radio-button-container>
                      <input formControlName="cb4" value=2 mz-radio-button [label]="'Disagree'" [withGap]="true" id="cb4-radio-4" name="cb4" type="radio">
                    </mz-radio-button-container>
                    <mz-radio-button-container>
                      <input formControlName="cb4" value=1 mz-radio-button [label]="'Strongly Disagree'" [withGap]="true" id="cb4-radio-5" name="cb4"
                        type="radio">
                    </mz-radio-button-container>
                  </div>
                </div>
                <button type="submit" mz-button id="questionButton">
                  Next
                </button>
              </form>
            </mz-collapsible-item-body>
          </mz-collapsible-item>
          <mz-collapsible-item>
            <mz-collapsible-item-header>
              Attitude
            </mz-collapsible-item-header>
            <mz-collapsible-item-body>
              <form [formGroup]="attitudeForm" (ngSubmit)="attitudeSubmit()">
                <div class="surveyQuestion">
                  <div class="questionContainer">
                    <span id="question">
                      For me, attending this green event is good
                    </span>
                    <span id="subQuestion">
                      Bagi saya, menghadiri acara hijau ini adalah baik
                    </span>
                  </div>
                  <div class="answerContainer">
                    <div *ngIf="attitudeField('at1').invalid && (attitudeField('at1').touched || attitudeSSubmit)" class="alert alert-danger">
                      <span id="invalidError">{{getErrorMsg()}}</span>
                    </div>
                    <mz-radio-button-container>
                      <input formControlName="at1" value=5 mz-radio-button [label]="'Strongly Agree'" [withGap]="true" id="at1-radio-1" name="at1"
                        type="radio">
                    </mz-radio-button-container>
                    <mz-radio-button-container>
                      <input formControlName="at1" value=4 mz-radio-button [label]="'Agree'" [withGap]="true" id="at1-radio-2" name="at1" type="radio">
                    </mz-radio-button-container>
                    <mz-radio-button-container>
                      <input formControlName="at1" value=3 mz-radio-button [label]="'Neutral'" [withGap]="true" id="at1-radio-3" name="at1" type="radio">
                    </mz-radio-button-container>
                    <mz-radio-button-container>
                      <input formControlName="at1" value=2 mz-radio-button [label]="'Disagree'" [withGap]="true" id="at1-radio-4" name="at1" type="radio">
                    </mz-radio-button-container>
                    <mz-radio-button-container>
                      <input formControlName="at1" value=1 mz-radio-button [label]="'Strongly Disagree'" [withGap]="true" id="at1-radio-5" name="at1"
                        type="radio">
                    </mz-radio-button-container>
                  </div>
                </div>
                <div class="surveyQuestion">
                  <div class="questionContainer">
                    <span id="question">
                      For me, attending this green event is sensible
                    </span>
                    <span id="subQuestion">
                      Bagi saya, menghadiri acara hijau ini adalah wajar
                    </span>
                  </div>
                  <div class="answerContainer">
                    <div *ngIf="attitudeField('at2').invalid && (attitudeField('at2').touched || attitudeSSubmit)" class="alert alert-danger">
                      <span id="invalidError">{{getErrorMsg()}}</span>
                    </div>
                    <mz-radio-button-container>
                      <input formControlName="at2" value=5 mz-radio-button [label]="'Strongly Agree'" [withGap]="true" id="at2-radio-1" name="at2"
                        type="radio">
                    </mz-radio-button-container>
                    <mz-radio-button-container>
                      <input formControlName="at2" value=4 mz-radio-button [label]="'Agree'" [withGap]="true" id="at2-radio-2" name="at2" type="radio">
                    </mz-radio-button-container>
                    <mz-radio-button-container>
                      <input formControlName="at2" value=3 mz-radio-button [label]="'Neutral'" [withGap]="true" id="at2-radio-3" name="at2" type="radio">
                    </mz-radio-button-container>
                    <mz-radio-button-container>
                      <input formControlName="at2" value=2 mz-radio-button [label]="'Disagree'" [withGap]="true" id="at2-radio-4" name="at2" type="radio">
                    </mz-radio-button-container>
                    <mz-radio-button-container>
                      <input formControlName="at2" value=1 mz-radio-button [label]="'Strongly Disagree'" [withGap]="true" id="at2-radio-5" name="at2"
                        type="radio">
                    </mz-radio-button-container>
                  </div>
                </div>
                <div class="surveyQuestion">
                  <div class="questionContainer">
                    <span id="question">
                      For me, attending this green event is convenient
                    </span>
                    <span id="subQuestion">
                      Bagi saya, menghadiri acara hijau ini adalah menyenangkan
                    </span>
                  </div>
                  <div class="answerContainer">
                    <div *ngIf="attitudeField('at3').invalid && (attitudeField('at3').touched || attitudeSSubmit)" class="alert alert-danger">
                      <span id="invalidError">{{getErrorMsg()}}</span>
                    </div>
                    <mz-radio-button-container>
                      <input formControlName="at3" value=5 mz-radio-button [label]="'Strongly Agree'" [withGap]="true" id="at3-radio-1" name="at3"
                        type="radio">
                    </mz-radio-button-container>
                    <mz-radio-button-container>
                      <input formControlName="at3" value=4 mz-radio-button [label]="'Agree'" [withGap]="true" id="at3-radio-2" name="at3" type="radio">
                    </mz-radio-button-container>
                    <mz-radio-button-container>
                      <input formControlName="at3" value=3 mz-radio-button [label]="'Neutral'" [withGap]="true" id="at3-radio-3" name="at3" type="radio">
                    </mz-radio-button-container>
                    <mz-radio-button-container>
                      <input formControlName="at3" value=2 mz-radio-button [label]="'Disagree'" [withGap]="true" id="at3-radio-4" name="at3" type="radio">
                    </mz-radio-button-container>
                    <mz-radio-button-container>
                      <input formControlName="at3" value=1 mz-radio-button [label]="'Strongly Disagree'" [withGap]="true" id="at3-radio-5" name="at3"
                        type="radio">
                    </mz-radio-button-container>
                  </div>
                </div>
                <div class="surveyQuestion">
                  <div class="questionContainer">
                    <span id="question">
                      For me, attending this green event is wise decision
                    </span>
                    <span id="subQuestion">
                      Bagi saya, menghadiri acara hijau ini adalah keputusan yang bijak
                    </span>
                  </div>
                  <div class="answerContainer">
                    <div *ngIf="attitudeField('at4').invalid && (attitudeField('at4').touched || attitudeSSubmit)" class="alert alert-danger">
                      <span id="invalidError">{{getErrorMsg()}}</span>
                    </div>
                    <mz-radio-button-container>
                      <input formControlName="at4" value=5 mz-radio-button [label]="'Strongly Agree'" [withGap]="true" id="at4-radio-1" name="at4"
                        type="radio">
                    </mz-radio-button-container>
                    <mz-radio-button-container>
                      <input formControlName="at4" value=4 mz-radio-button [label]="'Agree'" [withGap]="true" id="at4-radio-2" name="at4" type="radio">
                    </mz-radio-button-container>
                    <mz-radio-button-container>
                      <input formControlName="at4" value=3 mz-radio-button [label]="'Neutral'" [withGap]="true" id="at4-radio-3" name="at4" type="radio">
                    </mz-radio-button-container>
                    <mz-radio-button-container>
                      <input formControlName="at4" value=2 mz-radio-button [label]="'Disagree'" [withGap]="true" id="at4-radio-4" name="at4" type="radio">
                    </mz-radio-button-container>
                    <mz-radio-button-container>
                      <input formControlName="at4" value=1 mz-radio-button [label]="'Strongly Disagree'" [withGap]="true" id="at4-radio-5" name="at4"
                        type="radio">
                    </mz-radio-button-container>
                  </div>
                </div>
                <div class="surveyQuestion">
                  <div class="questionContainer">
                    <span id="question">
                      For me, attending this green event is encouragable
                    </span>
                    <span id="subQuestion">
                      Bagi saya, menghadiri acara hijau ini adalah digalakkan
                    </span>
                  </div>
                  <div class="answerContainer">
                    <div *ngIf="attitudeField('at5').invalid && (attitudeField('at5').touched || attitudeSSubmit)" class="alert alert-danger">
                      <span id="invalidError">{{getErrorMsg()}}</span>
                    </div>
                    <mz-radio-button-container>
                      <input formControlName="at5" value=5 mz-radio-button [label]="'Strongly Agree'" [withGap]="true" id="at5-radio-1" name="at5"
                        type="radio">
                    </mz-radio-button-container>
                    <mz-radio-button-container>
                      <input formControlName="at5" value=4 mz-radio-button [label]="'Agree'" [withGap]="true" id="at5-radio-2" name="at5" type="radio">
                    </mz-radio-button-container>
                    <mz-radio-button-container>
                      <input formControlName="at5" value=3 mz-radio-button [label]="'Neutral'" [withGap]="true" id="at5-radio-3" name="at5" type="radio">
                    </mz-radio-button-container>
                    <mz-radio-button-container>
                      <input formControlName="at5" value=2 mz-radio-button [label]="'Disagree'" [withGap]="true" id="at5-radio-4" name="at5" type="radio">
                    </mz-radio-button-container>
                    <mz-radio-button-container>
                      <input formControlName="at5" value=1 mz-radio-button [label]="'Strongly Disagree'" [withGap]="true" id="at5-radio-5" name="at5"
                        type="radio">
                    </mz-radio-button-container>
                  </div>
                </div>
                <div class="surveyQuestion">
                  <div class="questionContainer">
                    <span id="question">
                      For me, attending this green event is enjoyable
                    </span>
                    <span id="subQuestion">
                      Bagi saya, menghadiri acara hijau ini adalah menyeronokkan
                    </span>
                  </div>
                  <div class="answerContainer">
                    <div *ngIf="attitudeField('at6').invalid && (attitudeField('at6').touched || attitudeSSubmit)" class="alert alert-danger">
                      <span id="invalidError">{{getErrorMsg()}}</span>
                    </div>
                    <mz-radio-button-container>
                      <input formControlName="at6" value=5 mz-radio-button [label]="'Strongly Agree'" [withGap]="true" id="at6-radio-1" name="at6"
                        type="radio">
                    </mz-radio-button-container>
                    <mz-radio-button-container>
                      <input formControlName="at6" value=4 mz-radio-button [label]="'Agree'" [withGap]="true" id="at6-radio-2" name="at6" type="radio">
                    </mz-radio-button-container>
                    <mz-radio-button-container>
                      <input formControlName="at6" value=3 mz-radio-button [label]="'Neutral'" [withGap]="true" id="at6-radio-3" name="at6" type="radio">
                    </mz-radio-button-container>
                    <mz-radio-button-container>
                      <input formControlName="at6" value=2 mz-radio-button [label]="'Disagree'" [withGap]="true" id="at6-radio-4" name="at6" type="radio">
                    </mz-radio-button-container>
                    <mz-radio-button-container>
                      <input formControlName="at6" value=1 mz-radio-button [label]="'Strongly Disagree'" [withGap]="true" id="at6-radio-5" name="at6"
                        type="radio">
                    </mz-radio-button-container>
                  </div>
                </div>
                <div class="surveyQuestion">
                  <div class="questionContainer">
                    <span id="question">
                      For me, attending this green event is positive
                    </span>
                    <span id="subQuestion">
                      Bagi saya, menghadiri acara hijau ini adalah positif
                    </span>
                  </div>
                  <div class="answerContainer">
                    <div *ngIf="attitudeField('at7').invalid && (attitudeField('at7').touched || attitudeSSubmit)" class="alert alert-danger">
                      <span id="invalidError">{{getErrorMsg()}}</span>
                    </div>
                    <mz-radio-button-container>
                      <input formControlName="at7" value=5 mz-radio-button [label]="'Strongly Agree'" [withGap]="true" id="at7-radio-1" name="at7"
                        type="radio">
                    </mz-radio-button-container>
                    <mz-radio-button-container>
                      <input formControlName="at7" value=4 mz-radio-button [label]="'Agree'" [withGap]="true" id="at7-radio-2" name="at7" type="radio">
                    </mz-radio-button-container>
                    <mz-radio-button-container>
                      <input formControlName="at7" value=3 mz-radio-button [label]="'Neutral'" [withGap]="true" id="at7-radio-3" name="at7" type="radio">
                    </mz-radio-button-container>
                    <mz-radio-button-container>
                      <input formControlName="at7" value=2 mz-radio-button [label]="'Disagree'" [withGap]="true" id="at7-radio-4" name="at7" type="radio">
                    </mz-radio-button-container>
                    <mz-radio-button-container>
                      <input formControlName="at7" value=1 mz-radio-button [label]="'Strongly Disagree'" [withGap]="true" id="at7-radio-5" name="at7"
                        type="radio">
                    </mz-radio-button-container>
                  </div>
                </div>
                <button type="submit" mz-button id="questionButton">
                  Next
                </button>
              </form>
            </mz-collapsible-item-body>
          </mz-collapsible-item>
          <mz-collapsible-item>
            <mz-collapsible-item-header>
              Subjective Norm
            </mz-collapsible-item-header>
            <mz-collapsible-item-body>
              <form [formGroup]="subjectiveForm" (ngSubmit)="subjectiveSubmit()">
                <div class="surveyQuestion">
                  <div class="questionContainer">
                    <span id="question">
                      Most people who are important to me think I should attend this green event
                    </span>
                    <span id="subQuestion">
                      Kebanyakan orang yang penting bagi saya rasa saya perlu menghadiri acara hijau ini
                    </span>
                  </div>
                  <div class="answerContainer">
                    <div *ngIf="subjectiveField('sn1').invalid && (subjectiveField('sn1').touched || subjectiveSSubmit)" class="alert alert-danger">
                      <span id="invalidError">{{getErrorMsg()}}</span>
                    </div>
                    <mz-radio-button-container>
                      <input formControlName="sn1" value=5 mz-radio-button [label]="'Strongly Agree'" [withGap]="true" id="sn1-radio-1" name="sn1"
                        type="radio">
                    </mz-radio-button-container>
                    <mz-radio-button-container>
                      <input formControlName="sn1" value=4 mz-radio-button [label]="'Agree'" [withGap]="true" id="sn1-radio-2" name="sn1" type="radio">
                    </mz-radio-button-container>
                    <mz-radio-button-container>
                      <input formControlName="sn1" value=3 mz-radio-button [label]="'Neutral'" [withGap]="true" id="sn1-radio-3" name="sn1" type="radio">
                    </mz-radio-button-container>
                    <mz-radio-button-container>
                      <input formControlName="sn1" value=2 mz-radio-button [label]="'Disagree'" [withGap]="true" id="sn1-radio-4" name="sn1" type="radio">
                    </mz-radio-button-container>
                    <mz-radio-button-container>
                      <input formControlName="sn1" value=1 mz-radio-button [label]="'Strongly Disagree'" [withGap]="true" id="sn1-radio-5" name="sn1"
                        type="radio">
                    </mz-radio-button-container>
                  </div>
                </div>
                <div class="surveyQuestion">
                  <div class="questionContainer">
                    <span id="question">
                      Most people who are important to me would want me to attend this green event
                    </span>
                    <span id="subQuestion">
                      Kebanyakan orang yang penting bagi saya mahu saya menghadiri acara hijau ini
                    </span>
                  </div>
                  <div class="answerContainer">
                    <div *ngIf="subjectiveField('sn2').invalid && (subjectiveField('sn2').touched || subjectiveSSubmit)" class="alert alert-danger">
                      <span id="invalidError">{{getErrorMsg()}}</span>
                    </div>
                    <mz-radio-button-container>
                      <input formControlName="sn2" value=5 mz-radio-button [label]="'Strongly Agree'" [withGap]="true" id="sn2-radio-1" name="sn2"
                        type="radio">
                    </mz-radio-button-container>
                    <mz-radio-button-container>
                      <input formControlName="sn2" value=4 mz-radio-button [label]="'Agree'" [withGap]="true" id="sn2-radio-2" name="sn2" type="radio">
                    </mz-radio-button-container>
                    <mz-radio-button-container>
                      <input formControlName="sn2" value=3 mz-radio-button [label]="'Neutral'" [withGap]="true" id="sn2-radio-3" name="sn2" type="radio">
                    </mz-radio-button-container>
                    <mz-radio-button-container>
                      <input formControlName="sn2" value=2 mz-radio-button [label]="'Disagree'" [withGap]="true" id="sn2-radio-4" name="sn2" type="radio">
                    </mz-radio-button-container>
                    <mz-radio-button-container>
                      <input formControlName="sn2" value=1 mz-radio-button [label]="'Strongly Disagree'" [withGap]="true" id="sn2-radio-5" name="sn2"
                        type="radio">
                    </mz-radio-button-container>
                  </div>
                </div>
                <div class="surveyQuestion">
                  <div class="questionContainer">
                    <span id="question">
                      People whose opinions I value would prefer that I attend this green event
                    </span>
                    <span id="subQuestion">
                      Orang yang saya hargai pendapatnya lebih suka sayang menghadiri acara hijau ini
                    </span>
                  </div>
                  <div class="answerContainer">
                    <div *ngIf="subjectiveField('sn3').invalid && (subjectiveField('sn3').touched || subjectiveSSubmit)" class="alert alert-danger">
                      <span id="invalidError">{{getErrorMsg()}}</span>
                    </div>
                    <mz-radio-button-container>
                      <input formControlName="sn3" value=5 mz-radio-button [label]="'Strongly Agree'" [withGap]="true" id="sn3-radio-1" name="sn3"
                        type="radio">
                    </mz-radio-button-container>
                    <mz-radio-button-container>
                      <input formControlName="sn3" value=4 mz-radio-button [label]="'Agree'" [withGap]="true" id="sn3-radio-2" name="sn3" type="radio">
                    </mz-radio-button-container>
                    <mz-radio-button-container>
                      <input formControlName="sn3" value=3 mz-radio-button [label]="'Neutral'" [withGap]="true" id="sn3-radio-3" name="sn3" type="radio">
                    </mz-radio-button-container>
                    <mz-radio-button-container>
                      <input formControlName="sn3" value=2 mz-radio-button [label]="'Disagree'" [withGap]="true" id="sn3-radio-4" name="sn3" type="radio">
                    </mz-radio-button-container>
                    <mz-radio-button-container>
                      <input formControlName="sn3" value=1 mz-radio-button [label]="'Strongly Disagree'" [withGap]="true" id="sn3-radio-5" name="sn3"
                        type="radio">
                    </mz-radio-button-container>
                  </div>
                </div>
                <button type="submit" mz-button id="questionButton">
                  Next
                </button>
              </form>
            </mz-collapsible-item-body>
          </mz-collapsible-item>
          <mz-collapsible-item>
            <mz-collapsible-item-header>
              Perceived Behavioral Control
            </mz-collapsible-item-header>
            <mz-collapsible-item-body>
              <form [formGroup]="perceivedForm" (ngSubmit)="perceivedSubmit()">
                <div class="surveyQuestion">
                  <div class="questionContainer">
                    <span id="question">
                      Whether or not I attend this green event is completely up to me
                    </span>
                    <span id="subQuestion">
                      Sama ada saya menghadiri acara hijau ini sepenuhnya terpulang kepada saya
                    </span>
                  </div>
                  <div class="answerContainer">
                    <div *ngIf="perceivedField('pbc1').invalid && (perceivedField('pbc1').touched || perceivedSSubmit)" class="alert alert-danger">
                      <span id="invalidError">{{getErrorMsg()}}</span>
                    </div>
                    <mz-radio-button-container>
                      <input formControlName="pbc1" value=5 mz-radio-button [label]="'Strongly Agree'" [withGap]="true" id="pbc1-radio-1" name="pbc1"
                        type="radio">
                    </mz-radio-button-container>
                    <mz-radio-button-container>
                      <input formControlName="pbc1" value=4 mz-radio-button [label]="'Agree'" [withGap]="true" id="pbc1-radio-2" name="pbc1" type="radio">
                    </mz-radio-button-container>
                    <mz-radio-button-container>
                      <input formControlName="pbc1" value=3 mz-radio-button [label]="'Neutral'" [withGap]="true" id="pbc1-radio-3" name="pbc1"
                        type="radio">
                    </mz-radio-button-container>
                    <mz-radio-button-container>
                      <input formControlName="pbc1" value=2 mz-radio-button [label]="'Disagree'" [withGap]="true" id="pbc1-radio-4" name="pbc1"
                        type="radio">
                    </mz-radio-button-container>
                    <mz-radio-button-container>
                      <input formControlName="pbc1" value=1 mz-radio-button [label]="'Strongly Disagree'" [withGap]="true" id="pbc1-radio-5" name="pbc1"
                        type="radio">
                    </mz-radio-button-container>
                  </div>
                </div>
                <div class="surveyQuestion">
                  <div class="questionContainer">
                    <span id="question">
                      I am confident that if I want, I can attend this green event
                    </span>
                    <span id="subQuestion">
                      Saya yakin bahawa jika saya mahu, saya boleh menghadiri acara hijau ini
                    </span>
                  </div>
                  <div class="answerContainer">
                    <div *ngIf="perceivedField('pbc2').invalid && (perceivedField('pbc2').touched || perceivedSSubmit)" class="alert alert-danger">
                      <span id="invalidError">{{getErrorMsg()}}</span>
                    </div>
                    <mz-radio-button-container>
                      <input formControlName="pbc2" value=5 mz-radio-button [label]="'Strongly Agree'" [withGap]="true" id="pbc2-radio-1" name="pbc2"
                        type="radio">
                    </mz-radio-button-container>
                    <mz-radio-button-container>
                      <input formControlName="pbc2" value=4 mz-radio-button [label]="'Agree'" [withGap]="true" id="pbc2-radio-2" name="pbc2" type="radio">
                    </mz-radio-button-container>
                    <mz-radio-button-container>
                      <input formControlName="pbc2" value=3 mz-radio-button [label]="'Neutral'" [withGap]="true" id="pbc2-radio-3" name="pbc2"
                        type="radio">
                    </mz-radio-button-container>
                    <mz-radio-button-container>
                      <input formControlName="pbc2" value=2 mz-radio-button [label]="'Disagree'" [withGap]="true" id="pbc2-radio-4" name="pbc2"
                        type="radio">
                    </mz-radio-button-container>
                    <mz-radio-button-container>
                      <input formControlName="pbc2" value=1 mz-radio-button [label]="'Strongly Disagree'" [withGap]="true" id="pbc2-radio-5" name="pbc2"
                        type="radio">
                    </mz-radio-button-container>
                  </div>
                </div>
                <div class="surveyQuestion">
                  <div class="questionContainer">
                    <span id="question">
                      I have resources, time, and opportunities to attend this green event
                    </span>
                    <span id="subQuestion">
                      Saya mempunyai sumber, masa, dan peluang untuk menghadiri acara hijau ini
                    </span>
                  </div>
                  <div class="answerContainer">
                    <div *ngIf="perceivedField('pbc3').invalid && (perceivedField('pbc3').touched || perceivedSSubmit)" class="alert alert-danger">
                      <span id="invalidError">{{getErrorMsg()}}</span>
                    </div>
                    <mz-radio-button-container>
                      <input formControlName="pbc3" value=5 mz-radio-button [label]="'Strongly Agree'" [withGap]="true" id="pbc3-radio-1" name="pbc3"
                        type="radio">
                    </mz-radio-button-container>
                    <mz-radio-button-container>
                      <input formControlName="pbc3" value=4 mz-radio-button [label]="'Agree'" [withGap]="true" id="pbc3-radio-2" name="pbc3" type="radio">
                    </mz-radio-button-container>
                    <mz-radio-button-container>
                      <input formControlName="pbc3" value=3 mz-radio-button [label]="'Neutral'" [withGap]="true" id="pbc3-radio-3" name="pbc3"
                        type="radio">
                    </mz-radio-button-container>
                    <mz-radio-button-container>
                      <input formControlName="pbc3" value=2 mz-radio-button [label]="'Disagree'" [withGap]="true" id="pbc3-radio-4" name="pbc3"
                        type="radio">
                    </mz-radio-button-container>
                    <mz-radio-button-container>
                      <input formControlName="pbc3" value=1 mz-radio-button [label]="'Strongly Disagree'" [withGap]="true" id="pbc3-radio-5" name="pbc3"
                        type="radio">
                    </mz-radio-button-container>
                  </div>
                </div>
                <button type="submit" mz-button id="questionButton">
                  Next
                </button>
              </form>
            </mz-collapsible-item-body>
          </mz-collapsible-item>
          <mz-collapsible-item>
            <mz-collapsible-item-header>
              Intentions to Attend Green Events
            </mz-collapsible-item-header>
            <mz-collapsible-item-body>
              <form [formGroup]="intentionForm" (ngSubmit)="intentionSubmit()">
                <div class="surveyQuestion">
                  <div class="questionContainer">
                    <span id="question">
                      I am willing to attend this green event
                    </span>
                    <span id="subQuestion">
                      Saya bersedia untuk menghadiri acara hijau
                    </span>
                  </div>
                  <div class="answerContainer">
                    <div *ngIf="intentionField('is1').invalid && (intentionField('is1').touched || intentionSSubmit)" class="alert alert-danger">
                      <span id="invalidError">{{getErrorMsg()}}</span>
                    </div>
                    <mz-radio-button-container>
                      <input formControlName="is1" value=5 mz-radio-button [label]="'Strongly Agree'" [withGap]="true" id="is1-radio-1" name="is1"
                        type="radio">
                    </mz-radio-button-container>
                    <mz-radio-button-container>
                      <input formControlName="is1" value=4 mz-radio-button [label]="'Agree'" [withGap]="true" id="is1-radio-2" name="is1" type="radio">
                    </mz-radio-button-container>
                    <mz-radio-button-container>
                      <input formControlName="is1" value=3 mz-radio-button [label]="'Neutral'" [withGap]="true" id="is1-radio-3" name="is1" type="radio">
                    </mz-radio-button-container>
                    <mz-radio-button-container>
                      <input formControlName="is1" value=2 mz-radio-button [label]="'Disagree'" [withGap]="true" id="is1-radio-4" name="is1" type="radio">
                    </mz-radio-button-container>
                    <mz-radio-button-container>
                      <input formControlName="is1" value=1 mz-radio-button [label]="'Strongly Disagree'" [withGap]="true" id="is1-radio-5" name="is1"
                        type="radio">
                    </mz-radio-button-container>
                  </div>
                </div>
                <div class="surveyQuestion">
                  <div class="questionContainer">
                    <span id="question">
                      I plan to attend this green event
                    </span>
                    <span id="subQuestion">
                      Saya merancang untuk menghadiri acara hijau ini
                    </span>
                  </div>
                  <div class="answerContainer">
                    <div *ngIf="intentionField('is2').invalid && (intentionField('is2').touched || intentionSSubmit)" class="alert alert-danger">
                      <span id="invalidError">{{getErrorMsg()}}</span>
                    </div>
                    <mz-radio-button-container>
                      <input formControlName="is2" value=5 mz-radio-button [label]="'Strongly Agree'" [withGap]="true" id="is2-radio-1" name="is2"
                        type="radio">
                    </mz-radio-button-container>
                    <mz-radio-button-container>
                      <input formControlName="is2" value=4 mz-radio-button [label]="'Agree'" [withGap]="true" id="is2-radio-2" name="is2" type="radio">
                    </mz-radio-button-container>
                    <mz-radio-button-container>
                      <input formControlName="is2" value=3 mz-radio-button [label]="'Neutral'" [withGap]="true" id="is2-radio-3" name="is2" type="radio">
                    </mz-radio-button-container>
                    <mz-radio-button-container>
                      <input formControlName="is2" value=2 mz-radio-button [label]="'Disagree'" [withGap]="true" id="is2-radio-4" name="is2" type="radio">
                    </mz-radio-button-container>
                    <mz-radio-button-container>
                      <input formControlName="is2" value=1 mz-radio-button [label]="'Strongly Disagree'" [withGap]="true" id="is2-radio-5" name="is2"
                        type="radio">
                    </mz-radio-button-container>
                  </div>
                </div>
                <div class="surveyQuestion">
                  <div class="questionContainer">
                    <span id="question">
                      I will make an effort to attend this green event
                    </span>
                    <span id="subQuestion">
                      Saya akan berusaha untuk menghadiri acara hijau
                    </span>
                  </div>
                  <div class="answerContainer">
                    <div *ngIf="intentionField('is3').invalid && (intentionField('is3').touched || intentionSSubmit)" class="alert alert-danger">
                      <span id="invalidError">{{getErrorMsg()}}</span>
                    </div>
                    <mz-radio-button-container>
                      <input formControlName="is3" value=5 mz-radio-button [label]="'Strongly Agree'" [withGap]="true" id="is3-radio-1" name="is3"
                        type="radio">
                    </mz-radio-button-container>
                    <mz-radio-button-container>
                      <input formControlName="is3" value=4 mz-radio-button [label]="'Agree'" [withGap]="true" id="is3-radio-2" name="is3" type="radio">
                    </mz-radio-button-container>
                    <mz-radio-button-container>
                      <input formControlName="is3" value=3 mz-radio-button [label]="'Neutral'" [withGap]="true" id="is3-radio-3" name="is3" type="radio">
                    </mz-radio-button-container>
                    <mz-radio-button-container>
                      <input formControlName="is3" value=2 mz-radio-button [label]="'Disagree'" [withGap]="true" id="is3-radio-4" name="is3" type="radio">
                    </mz-radio-button-container>
                    <mz-radio-button-container>
                      <input formControlName="is3" value=1 mz-radio-button [label]="'Strongly Disagree'" [withGap]="true" id="is3-radio-5" name="is3"
                        type="radio">
                    </mz-radio-button-container>
                  </div>
                </div>
                <button type="submit" mz-button id="questionButton">
                  Next
                </button>
              </form>
            </mz-collapsible-item-body>
          </mz-collapsible-item>
        </mz-collapsible>
        <button mz-button (click)="surveyComplete()" id="submitButton" [disabled]="!surveyStatus">
          Submit
        </button>
      </div>
    </div>
  </div>
</section>
