.active {
  background:rgb(250, 242, 125); color:rgb(58, 58, 58);
}

#linkText {
  color: green;
}

#submitButton {
  background-color: rgb(50, 172, 50);
  margin-bottom: 10px;
  width: 50%;
  left: 25%;
}

.questionContainer {
  display: inline-flex;
  flex-direction: column;
}

#question {
  font-weight: bold;
}

#subQuestion {
  font-size: 12px;
}

#questionButton {
  margin-top: 10px;
  background-color: rgb(50, 172, 50);
  width: 35%;
  left: 30%;
}

.surveyQuestion {
  padding: 10px;
}

#invalidError {
  font-weight: bold;
  color: red;
}
