<mz-modal class="surveyModal" [fixedFooter]="true">
  <mz-modal-header>
    <h4>Green Event Management System (GEMS)</h4>
  </mz-modal-header>
  <mz-modal-content>
    We from GEMS Community thank you for your cooperation in completing this survey! Have a nice day and go green!
  </mz-modal-content>
  <mz-modal-footer>
    <button mz-button [flat]="true" mz-modal-close>Okay</button>
  </mz-modal-footer>
</mz-modal>
