<div class="navbar-fixed">
  <mz-navbar [navbarClass]="'green'">
    <div style="height: 100%" class="navbarItems">
      <mz-navbar-item-container [align]="'left'">
        <mz-navbar-item>
          <a>GEMS</a>
        </mz-navbar-item>
      </mz-navbar-item-container>
      <mz-navbar-item-container [align]="'right'">
        <mz-navbar-item>
          <a routerLink="/survey">SURVEY</a>
        </mz-navbar-item>
        <mz-navbar-item>
          <a routerLink="/result">RESULT</a>
        </mz-navbar-item>
      </mz-navbar-item-container>
    </div>
  </mz-navbar>
</div>
