.accessCard {
  text-align: center;
  height: 100%;
  width: 85%;
  margin: auto;
}

.accessCard mz-card {
  padding: 10px;
}

#headerTitle {
  width: 100%;
  text-align: center;
  font-size: 20px;
  font-weight: bold;
}

.sectionContainer {
  padding: 15px;
}

.resultContainer {
  text-align: center;
  height: 100%;
  width: 85%;
  margin: auto;
}

#invalidError {
  font-weight: bold;
  color: red;
}
