<section class="sectionContainer">
  <div class="accessCard" *ngIf="!showResult">
    <mz-card>
      <mz-card-title id="headerTitle">
        Admin Access
      </mz-card-title>
      <mz-card-content>
        <div class="accessForm">
          Password :
          <mz-input-container [inline]="true">
            <input [validate]="true" [formControl]="password" mz-input id="inline-input" type="password" [dataError]="'Please enter password'">
          </mz-input-container>
        </div>
        <div *ngIf="passwordControl.invalid && (passwordControl.touched || accessSubmit)" class="alert alert-danger">
          <span id="invalidError">Please enter the password</span>
        </div>
        <button mz-button (click)="getAccess()" style="margin-top: 10px;">
          Submit
        </button>
      </mz-card-content>
    </mz-card>
  </div>
  <div class="resultContainer" *ngIf="showResult">
    <div>
      <mz-collection *ngIf="resultsData?.length == 0">
        <mz-collection-item>No Data Found</mz-collection-item>
      </mz-collection>
    </div>
    <div *ngIf="resultsData?.length > 0">
      <mz-collapsible class="col s12 m8 l6" [mode]="'expandable'">
        <mz-collapsible-item *ngFor="let result of resultsData | paginate: { itemsPerPage: 15, currentPage: p }; let i = index">
          <mz-collapsible-item-header>
            <i>{{i}}</i>
            {{result.result}} ({{result.totalScore}})
          </mz-collapsible-item-header>
          <mz-collapsible-item-body>
            <mz-collection>
              <mz-collection-item>Organization : {{ result.organization }}</mz-collection-item>
              <mz-collection-item *ngFor="let score of result.questionScore">
                {{ score.questionCode }} : {{ score.questionScore }}
              </mz-collection-item>
            </mz-collection>
          </mz-collapsible-item-body>
        </mz-collapsible-item>
      </mz-collapsible>
      <pagination-controls (pageChange)="p = $event"></pagination-controls>
    </div>
  </div>
</section>
